.group-name {
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
  margin-top: 20px;
}

.group-description {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
}
.team-member {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px; 
  margin-bottom: 20px;
}

.team-member {
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.team-member p,
.team-member .role-label,
.team-member .contact-label,
.team-member .bio-label {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-member:hover {
  border-color: #333;
  transform: scale(1.05);
}

.team-member:hover p,
.team-member:hover .role-label,
.team-member:hover .contact-label,
.team-member:hover .bio-label {
  opacity: 1;
}

h2 {
  text-align: center;
}

.role-label, .contact-label, .bio-label {
  font-weight: bold;
}

.role, .contact, .bio {
  margin: 5px 0;
}
.team-member img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.team-member input[type="file"] {
  display: none;
}
html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }